share/dict
share/soft
.vagrant
disk
share/background/horizal/*.jpg
share/background/vertical/*.jpg
share/background/horizal/*.png
share/background/vertical/*.png
share/background/horizal/*.jpeg
share/background/vertical/*.jpeg
store